body {
  overflow-x: hidden;
}

.custom-swiper2 {
  position: relative;
  z-index: 10;
}

.custom-swiper2 .swiper-button-prev::after,
.custom-swiper2 .swiper-button-next::after {
  font-size: 16px;
  color: #ffffff;
}

.custom-swiper2 .swiper-pagination-bullet {
  display: none;
}

.custom-swiper2 .swiper-button-prev,
.custom-swiper2 .swiper-button-next {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #ffffff;
}

/* Flecha izquierda */
.custom-swiper2 .swiper-button-prev {
  left: calc(50% - 150px);
}

/* Flecha derecha */
.custom-swiper2 .swiper-button-next {
  right: calc(50% - 150px);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .custom-swiper2 .swiper-button-prev,
  .custom-swiper2 .swiper-button-next {
    width: 35px;
    height: 35px;
  }

  .custom-swiper2 .swiper-button-prev {
    left: calc(50% - 90px);
  }

  .custom-swiper2 .swiper-button-next {
    right: calc(50% - 90px);
  }
}

@media (max-width: 640px) {
  .custom-swiper2 .swiper-button-prev {
    left: calc(50% - 80px);
  }

  .custom-swiper2 .swiper-button-next {
    right: calc(50% - 80px);
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 1024px) {
  .custom-swiper2 .swiper-button-prev,
  .custom-swiper2 .swiper-button-next {
    margin-top: -150px;
    width: 35px;
    height: 35px;
  }

  .custom-swiper2 .swiper-button-prev {
    left: calc(50% - 130px);
  }

  .custom-swiper2 .swiper-button-next {
    right: calc(50% - 130px);
  }
}

@media (max-width: 414px) {
  .custom-swiper2 .swiper-button-prev,
  .custom-swiper2 .swiper-button-next {
    margin-top: -180px;
    width: 45px;
    height: 45px;
    z-index: 2000; /* Asegura que las flechas estén encima de otros elementos */
  }

  .custom-swiper2 .swiper-button-prev {
    left: calc(
      50% - 70px
    ); /* Ajusta para mantener visible en pantallas pequeñas */
  }

  .custom-swiper2 .swiper-button-next {
    right: calc(
      50% - 70px
    ); /* Ajusta para mantener visible en pantallas pequeñas */
  }
}

/* Ajuste para pantallas muy pequeñas (375px) */
@media (max-width: 375px) {
  .custom-swiper2 .swiper-button-prev,
  .custom-swiper2 .swiper-button-next {
    margin-top: -180px;
    width: 35px;
    height: 35px;
  }

  .custom-swiper2 .swiper-button-prev {
    left: calc(50% - 60px); /* Más cerca del centro */
  }

  .custom-swiper2 .swiper-button-next {
    right: calc(50% - 60px); /* Más cerca del centro */
  }
}

.custom-datepicker,
.custom-time-input {
  z-index: 9999 !important;
  width: 100%;
  height: 50px;
  padding: 1.1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.15s ease-in-out;
  /* Otros estilos necesarios */
}

.custom-datepicker {
  cursor: pointer;
  background-color: #fff;
}

.custom-calendar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 9999;
  background: white;
}

.react-calendar {
  width: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Swiper 3 -- Our Attorneys */
.custom-swiper3 {
  position: relative;
  z-index: 10;
}

.custom-swiper3 .swiper-button-prev::after,
.custom-swiper3 .swiper-button-next::after {
  font-size: 16px;
  color: #ffffff;
}

/* .custom-swiper3 .swiper-button-prev {
  left: calc(50% - 200px);
}

.custom-swiper3 .swiper-button-next {
  right: calc(50% - 200px);
} */

/* Hide pagination bullets */
.custom-swiper3 .swiper-pagination-bullet {
  display: none;
}

/*  */
/*  */

.custom-swiper3 .swiper-button-prev,
.custom-swiper3 .swiper-button-next {
  position: absolute;
  top: 50%;
  margin-top: -190px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #ffffff;
}

/* Flecha izquierda */
.custom-swiper3 .swiper-button-prev {
  left: calc(50% - 100px);
}

/* Flecha derecha */
.custom-swiper3 .swiper-button-next {
  right: calc(50% - 100px);
}

/* Ajuste para pantallas de entre 500px y 1024px */
@media (min-width: 500px) and (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  /* .swiper-button-next {
    right: 15px;
  }

  .swiper-button-prev {
    left: 15px;
  } */
}

.testimonial-text::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  bottom: -24px;
  left: 28px;
  border: 12px solid;
  border-color: #37373f transparent transparent transparent;
  z-index: 1;
}

/* estilos.css */
.testimonial-carousel .slick-dots {
  position: absolute;
  width: 100%;
  top: -50px;
  text-align: center;
}

.testimonial-carousel .slick-dots li {
  display: inline-block;
  margin: 0 8px;
  position: relative;
}

.testimonial-carousel .slick-dots li button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #b49c73;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.testimonial-carousel .slick-dots li button::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  width: 30px;
  height: 30px;
  border: 3px solid #b49c73;
  border-radius: 50%;
  background: transparent;
  z-index: -1;
}

.testimonial-carousel .slick-dots li.slick-active button {
  background: #343a40;
}
